/*palette: https://flatuicolors.com/palette/us*/
/*Red: #d63031*/
/*gold: #fdcb6e*/
/*light blue grey: #b2bec3*/
/*light mint: #00b894*/
/*dark grey: #2d3436*/



/*===============page setup===============*/
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
    color: white;
	scroll-behavior: smooth;
}

/*page title*/
h1 {
	font-size: 3.5em;
	font-weight: 700;
	margin: 0px;
}

/*section titles*/
h2 {
	font-size: 2em;
}

/*sectionSubtitles*/
h3 {
	font-size: 1.7em;
	text-decoration: underline;
	margin-bottom: 20px;
}

h4 {
	font-size: 1.3em;
	margin: 0;
}

footer {
	color: rgba(255,255,255,.6);
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	bottom: 10px;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	/*z-index: 750;*/
}



/*===============end page setup===============*/

/*===============nav===============*/
nav {
	position: fixed;
	width: 150px;
	background-color: #fdcb6e;
	left: 50px;
	top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
	z-index: 250;
	text-align: center;
	box-shadow: 3px 2px 8px #555;
}

.headshot {
	width: 130px;
	height: 130px;
}
/*===============end nav===============*/

/*===============main content===============*/

#summaryDiv, #worksDiv, #aboutMeDiv, #contactDiv {
	position: relative;
	height: 75%;
	z-index: 500;
	display: flex;
	justify-content: space-around;
}

#summaryDiv {
	background-color: #2d3436;
}

#worksDiv {
	background-color: #b2bec3;
}

#aboutMeDiv {
	background-color: #00b894;
}

#contactDiv {
	background-color: #d63031;
}

.subLeft {
	border-right: 1px white solid;
	flex: 1;
	padding: 50px;
}

.subRight {
	flex: 1;
	padding: 50px;
}

.summaryTitle {
	background-image: url("../images/space.jpg");
}

.worksTitle {
	background-image: url("../images/cloud.jpg");
}

.aboutMeTitle {
	background-image: url("../images/austin.jpg");
}

.contactTitle {
	background-image: url("../images/ocean.jpg");
}

.tooFar {
	background-image: url("../images/china.jpg");
}

.summaryTitle, .worksTitle, .aboutMeTitle, .contactTitle, .tooFar {
	height: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

/*===============end main content===============*/

/*===============other===============*/
.nameRule {
	width: 300px;
	margin: 30px;
}

break {
	display: inline-block;
	flex-basis: 100%;
	width: 0px;
	height: 0px;
	overflow: hidden;
}
/*===============end other===============*/

